{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}

    <div class="flex flex-col items-center text-center">
        <h1 class="text-4xl font-bold">MENTIONS LÉGALES</h1>

        <section class="mb-8 max-w-2xl">
            <p>
                Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du site Lectrice Rêveuse l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
            </p>
        </section>

        <article class="mb-8 max-w-2xl">
            <h2 class="text-2xl font-semibold">Édition du site</h2>
            <p>
                Le présent site, accessible à l’URL <a href="https://www.lectriceReveuse.fr" class="text-blue-600 hover:underline">www.lectriceReveuse.fr</a> (le « Site »), est édité par :
            </p>
            <p>
                <strong>Océane Bellay</strong>, résidant 25 rue du muget 85340 Olonne sur Mer, de nationalité Française (France), née le 20/02/1996.
            </p>
        </article>

        <article class="mb-8 max-w-2xl">
            <h2 class="text-2xl font-semibold">Hébergement</h2>
            <p>
                Le Site est hébergé par la société <strong>O2Switch</strong>, située 222 Boulevard Gustave Flaubert, 63000 Clermont-Ferrand, (contact téléphonique ou email : <a href="tel:+33444446040" class="text-blue-600 hover:underline">(+33) 4 44 44 60 40</a>).
            </p>
        </article>

        <article class="mb-8 max-w-2xl">
            <h2 class="text-2xl font-semibold">Directeur de publication</h2>
            <p>
                Le Directeur de la publication du Site est <strong>Océane Bellay</strong>.
            </p>
        </article>

        <section class="mb-8 max-w-2xl">
            <h2 class="text-2xl font-semibold">Nous contacter</h2>
            <address class="not-italic">
                Par téléphone : <a href="tel:+33240355070" class="text-blue-600 hover:underline">+33 2 40 35 50 70</a><br>
                Par email : <a href="mailto:formation@arinfo.fr" class="text-blue-600 hover:underline">formation@arinfo.fr</a><br>
                Par courrier : 25 rue du muget, 85340 Olonne sur Mer
            </address>
        </section>
    </div>

{% endblock %}