{% extends 'base.html.twig' %}

{% block title %}Ajouter un livre{% endblock %}

{% block body %}
    <h1>Ajouter un livre à votre bibliothèque</h1>

    <ul>
        {% for book in books %}
            <li>
                {{ book.title }} - {{ book.author.fullName }}
                <form method="POST" action="{{ path('app_library_add', { 'bookId': book.id }) }}">
                    <button type="submit">Ajouter à ma bibliothèque</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}